{{!-- Consultant ONLY Party Result Modal --}}
<div class="modal-general-alternate modal-results" id="consultantparties-search-results">
    <div class="genmodal-header">
        <h2>{{ lang 'ts_affiliation.consultant.parties_title' }}</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <div class="consultant-info">
            <div class="consultant-info-col consultant-image">
                <img src="{consultant-imagesrc}" onerror="this.onerror=null;this.src='https://consultant.api.tastefullysimple.com/image/profile/noconsultantphoto.png';">
            </div>
            <div class="consultant-info-col consultant-text">
                <span id="my-consultant-mobile">My consultant</span>
                <p class="consultant-name"></p>
                <div class="consultant-info-control">
                    <span id="my-consultant-desktop">is my consultant</span>
                    <p>
                        <strong class="teal-text">
                            <span class="consultant-edit">change</span> |
                            <span class="consultant-remove">remove</span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="consultantparties-caption">
            <p class="system-12">{{ lang 'ts_affiliation.consultant.parties_caption' }}</p>
        </div>
        <article class="buy-wide-card">
            <div class="party-card result-card">
                <div class="party-header">
                    <span class="ts-circle"></span>
                    <div class="vertical-center">
                        <span class="frame-caption selection-title">Select</span>
                    </div>
                </div>
                <div class="selected-header">
                     <span class="ts-circle"></span>
                     </span>
                     <div class="vertical-center">
                         <span class="frame-caption selection-title">Selected</span>
                     </div>
                 </div>

                <div class="party-info">
                    <p class="subhead-14 party-name">Shop without a party or fundraiser</p>
                </div>
            </div>
        </article>
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
    </div>
    <div class="findmodal-footer">
        <div class="next-step-wrapper">
            <p class="next-step-selected-text system-12"></p>
            <button class="button-cancel consultantmodal-cancel-btn" type="button">cancel</button>
            <button class="button-alternate-disabled button-alternate-icon" id="consultantparties-continue" disabled>
                continue
            </button>
        </div>
    </div>
</div>
