{{!-- Party Search Modal --}}

<div class="modal-general-alternate" id="party-search">
    <div class="genmodal-header">
      <h2>{{ lang 'ts_affiliation.party.search_title' }}</h2>
        <button type="button"  class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </button>
    </div>
    <div class="genmodal-body">
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
        <form onsubmit="return false" id="state-search-form">
            <article class="state-search buy-wide-card">
                <div class="card-form system-12">
                    <div class="simple-dropdown">
                        <label for="partystate-dropdown">Search by state</label>
                        <select name="partystate-dropdown" class="search-dropdown" required>
                            <option disabled selected value>Select State</option>
                        </select>
                    </div>
                </div>
                <div class="card-form">
                    <label class="input-label last-selector">
                        <span class="system-12">Search host or fundraiser name (optional)</span>
                        <input type="text">
                    </label>
                </div>
                <div class="card-form">
                    <button class="button-alternate" type="submit">search</button>
                </div>
            </article>
        </form>
    </div>
    <div class="genmodal-footer">
        <button class="button-cancel partymodal-cancel-btn" type="button">cancel</button>
    </div>
</div>

{{!-- Party Search Result Modal --}}

<div class="modal-general-alternate modal-results" id="party-search-results">
    <div class="genmodal-header">
        <h2>{{ lang 'ts_affiliation.party.results_title' }}</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <div class="search-filter-wrapper">
            <div class="return-search">
                <div class="vertical-center">
                    <i class="fas fa-caret-left"></i>
                </div>
                <button class="subhead-14 return-search-text">Refine your search</button>
            </div>
        </div>
        <article class="buy-wide-card"></article>
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
    </div>
    <div class="findmodal-footer">
        <div class="next-step-wrapper">
            <p class="next-step-selected-text system-12"></p>
            <button class="button-cancel partymodal-cancel-btn" type="button">cancel</button>
            <button class="button-alternate-disabled button-alternate-icon" id="party-continue" disabled>
                continue
            </button>
            <button class="button-primary" id="party-goback">go back</button>
        </div>
    </div>
</div>
