{{!-- Consultant Search Modal --}}
<div class="modal-general-alternate find-a-consultant" id="consultant-search">
    <div class="genmodal-header">
        <h2>{{ lang 'ts_affiliation.consultant.search_title' }}</h2>
        <button type="button" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </button>
    </div>
    <div class="genmodal-body">
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
        <form onsubmit="return false" id="zipcode-search-form">
            <article class="buy-wide-card zip-search">
                <span class="form-title system-14">Search by zip code</span>
                <div class="card-form system-12">
                    <label class="input-label">
                        <span>Zip Code</span>
                        <input type="text" placeholder="Enter zip code" pattern="(\d{5}([\-]\d{4})?)" required>
                    </label>
                    <div class="simple-dropdown last-selector">
                        <label for="consultradius-dropdown">Search Radius</label>
                        <select name="consultradius-dropdown" class="search-dropdown">
                            <option selected="selected" value="0">Exact Match</option>
                            <option value="25">25 Miles</option>
                            <option value="50">50 Miles</option>
                            <option value="75">75 Miles</option>
                            <option value="100">100 Miles</option>
                            <option value="150">150 Miles</option>
                            <option value="200">200 Miles</option>
                        </select>
                    </div>
                    <div class="vertical-bottom">
                        <button class="button-alternate" type="submit">search</button>
                    </div>
                </div>
            </article>
        </form>
        <form onsubmit="return false" id="name-search-form">
            <article class="buy-wide-card name-search">
                <span class="form-title system-14">Search by consultant name</span>
                <div class="card-form system-12">
                    <div class="simple-dropdown">
                        <label for="consultstate-dropdown">State</label>
                        <select name="consultstate-dropdown" class="search-dropdown" required>
                            <option disabled selected value>Select</option>
                        </select>
                    </div>
                    <label class="input-label last-selector">
                        <span>First or Last Name</span>
                        <input type="text" placeholder="Enter first or last name" required>
                    </label>
                    <div class="vertical-bottom">
                        <button class="button-alternate" type="submit">search</button>
                    </div>
                </div>
            </article>
        </form>
        <form onsubmit="return false" id="id-search-form">
            <article class="buy-wide-card id-search">
                <span class="form-title system-14">Search by consultant ID</span>
                <div class="card-form system-12">
                    <label class="input-label">
                        <span>Consultant ID</span>
                        <input type="text" placeholder="Enter consultant ID" required>
                    </label>
                    <div class="vertical-bottom" >
                        <button class="button-alternate" type="submit">search</button>
                    </div>
                </div>
            </article>
        </form>
    </div>
    <div class="genmodal-footer">
        <button class="button-cancel consultantmodal-cancel-btn" type="button">cancel</button>
    </div>
</div>

{{!-- Consultant Search Result Modal --}}
<div class="modal-general-alternate modal-results" id="consultant-search-results">
    <div class="genmodal-header">
        <h2>{{ lang 'ts_affiliation.consultant.results_title' }}</h2>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true" class="close-modal-alternate"></span>
        </a>
    </div>
    <div class="genmodal-body">
        <div class="search-filter-wrapper">
            <div class="return-search">
                <div class="vertical-center">
                    <i class="fas fa-caret-left"></i>
                </div>
                <button class="frame-caption return-search-text">Refine your search</button>
            </div>
        </div>
        <article class="buy-wide-card"></article>
        <div class="alertbox-error">
            <h2 class="alert-title">Error</h2>
            <p class="alert-message">
                <span></span>
            </p>
        </div>
        {{#if customer}}
        <div id="autoship-consultant-confirmation">
            <p style="font-weight: bold; font-size: 16px;">Hi, {{ customer.name }}</p>
            <p>{{lang 'subscriptions.consultant_selected'}} </p>
        </div>
        {{/if}}
    </div>
    <div class="findmodal-footer">
        <div class="next-step-wrapper" id="find-consultant-continue-step">
            <p class="next-step-selected-text system-12"></p>
            <button class="button-cancel consultantmodal-cancel-btn" type="button">cancel</button>
            <button class="button-alternate-disabled button-alternate-icon" id="consultant-continue" disabled>
                continue
            </button>
            <button class="button-alternate-disabled button-alternate-icon" id="autoship-consultant-continue" disabled>
                continue
            </button>
        </div>

        <div class="next-step-wrapper" id="find-consultant-confirm-step">
            <button class="button-cancel consultantmodal-cancel-btn" type="button">cancel</button>
            <button class="button-alternate-disabled button-alternate-icon" id="autoship-consultant-confirm" disabled>
                confirm
            </button>
        </div>
    </div>
</div>

{{> components/common/consultant-parties }}
