{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="footer-loveit">
        <a href="/guarantee" title="Love it Guarantee" id="footer-img-link">
            <picture id="footer_picture">
            </picture>
            <script>

                if (typeof footerImages === 'undefined') {
                    var footerImages = {
                        600: "{{cdn 'assets/img/loveitguaranteebanner-600px-nobtn.jpg'}}",
                        960: "{{cdn 'assets/img/loveitguaranteebanner-960px-nobtn.jpg'}}",
                        961: "{{cdn 'assets/img/loveitguaranteebanner-1920px-nobtn.jpg'}}"
                    }
                }

                if (typeof footerImgAlt === 'undefined') {
                    var footerImgAlt = "Backed by Our Love it Guarantee. Shop Now text on a background showing cooking preparation";
                }

                //Set new footer title
                document.getElementById('footer-img-link').title = footerImgAlt;

                // Create Default footer image
                var footerPicture = document.getElementById('footer_picture');
                var footerImg = document.createElement("img");
                footerImg.setAttribute('alt', footerImgAlt);
                footerImg.setAttribute('src', footerImages[961]);
                footerImg.setAttribute('id', 'default-footer-img')
                footerPicture.appendChild(footerImg);

                // Update image according to the browser window size
                function updateFooterByWindowSize() {
                    var footerImg = document.getElementById('default-footer-img');
                    var footerImgUrl;

                    if (window.innerWidth <= 600) {
                        footerImgUrl = footerImages["600"];
                    } else if (window.innerWidth <= 960) {
                        footerImgUrl = footerImages["960"];
                    } else {
                        footerImgUrl = footerImages["961"];
                    }
                    footerImg.src=footerImgUrl
                }

                updateFooterByWindowSize();
                addEventListener('resize', (event) => {
                    updateFooterByWindowSize();
                });
            </script>
        </a>
    </div>
    <section class="footer-info">
        <div class="container">
            <div class="tst-accordion footer-info-content">
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-shop">
                    <h5 class="footer-info-heading tst-accordion-title">shop</h5>
                    <ul class="footer-info-list tst-accordion-body">
                        <li>
                            <a href="/shop/">shop products</a>
                        </li>
                        <li>
                            <a href="/recipes/">recipes</a>
                        </li>
                        <li>
                            <a href="/ts-to-you-autoship">ts to you autoship</a>
                        </li>
                        <li>
                            <a href="/special-offers">special offers</a>
                        </li>
                        <li>
                            <a href="/e-catalog">e-catalog</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-about">
                    <h5 class="footer-info-heading tst-accordion-title">about us</h5>
                    <ul class="footer-info-list tst-accordion-body">
                        <li>
                            <a href="/about-us">about us</a>
                        </li>
                        <li>
                            <a href="/corporatecareers">corporate careers</a>
                        </li>
                        <li>
                            <a href="{{theme_settings.ts_affiliate_link}}" target="_blank">content creators-affiliates</a>
                        <li>
                            <a href="/terms-of-use">terms of use</a>
                        </li>
                        <li>
                            <a href="/privacy-policy">privacy policy</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-support">
                    <h5 class="footer-info-heading tst-accordion-title">support</h5>
                    <ul class="footer-info-list tst-accordion-body">
                        <li>
                            <a href="/contact-us">contact us</a>
                        </li>
                        <li>
                            <a href="/faq">faq</a>
                        </li>
                        <li>
                            <a href="/guarantee">love it guarantee</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-consultants">
                    <h5 class="footer-info-heading tst-accordion-title">consultants</h5>
                    <ul class="footer-info-list tst-accordion-body">
                        <li>
                            <a href="https://tscentral.tastefullysimple.com/">consultant login</a>
                        </li>
                        <li>
                            <a href="/consultant-spotlight">consultant spotlight</a>
                        </li>
                        <li>
                            <button type="button" class="modaltrigger-consult">find a consultant</button>
                        </li>
                        <li>
                            <a href="/dsa-code-of-ethics">DSA code of ethics</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-info-col footer-newsletter" data-section-type="newsletterSubscription">
                    {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                    {{/if}}
                    {{!-- {{> components/common/payment-icons}} --}}
                    {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
                        <div class="footer-info-col footer-info-col--social footer-social" data-section-type="footer-social">
                                {{> components/common/social-links}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <div class="copyright-logos">
                {{#if theme_settings.show_copyright_footer}}
                    <div class="footer-copyright">
                        <p class="powered-by">&copy; 1998-{{moment format="YYYY"}}, Tastefully Simple, Inc. </p>
                        <p class="powered-by">Serving suggestions throughout the website.</p>
                    </div>
                {{/if}}
                <div class="footer-logos">
                    <a href="https://www.dsa.org/" title="DSA" target="_blank">
                        <img src="{{cdn 'assets/img/dsa.png'}}" alt="DSA Logo"/>
                    </a>
                    <a href="https://www.bbb.org/us/mn/alexandria/profile/home-accessories-online/tastefully-simple-inc-0704-96001360/#sealclick" title="BBB Accredited Business" target="_blank">
                        <img src="{{cdn 'assets/img/bbb.png'}}" alt="BBB Accredited Business"/>
                    </a>
                </div>
            </div>
            <div class="footer-use-links">
            </div>
        </div>
    </section>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-44513817-57c9-4834-917d-7b9e9ba8a63f"></div>
</footer>

{{> components/bcapi/load }}
