<div class="jam-container">
    <div class="jam-title">
        <h1 class="frameheading-1 wanwhite-text">More information needed</h1>
    </div>
    <div class="jam-body">
        <div class="jam-body-wrapper">
            <span class="icon-special-confetti"></span>
            <p>We're so excited you're joining us!</p>
            <p>We just need a little more information to process your signup and get your kit on the way.</p>
            <a href="#" class='jam-complete-signup button-secondary'>complete signup</a>
            <button class='jam-close'>I don't wish to join at this time.</button>
        </div>
    </div>
</div>
