<nav class="navPages">
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
            {{#if name '!==' 'Recipes'}}
            <li class="navPages-item navPages-item-shop">
                {{> components/common/navigation-list-custom}}
            </li>
            {{/if}}
        {{/each}}
        <li class="navPages-item navPages-item-recipes">
            <a class="navPages-action" href="/recipes/">recipes</a>
        </li>
        <li class="navPages-item navPages-item-blog">
            <a class="navPages-action" href="//blog.tastefullysimple.com">blog</a>
        </li>
        <li class="navPages-item navPages-item-join">
            <a class="navPages-action teal-text" href="/join-us/">join</a>
        </li>
        <li class="navPages-item navPages-item-host">
            <a class="navPages-action greenapple-text" href="/host">host</a>
        </li>
        <li class="navPages-item navPages-item-consultant-fundraiser">
            <div id="mobile_consultant" style="display: block; position: relative; float: left; width: 50%"></div>
            <div id="mobile_partybar" style="display: block; position: relative; float: left; width: 50%; height: 63px !important"></div>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--user" id="navigation-menu-custom">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action-account has-subMenu title-case" id="account-submenu-nav" href="{{urls.account.index}}" data-collapsible="navPages-account" aria-expanded="true">
                    Hi, {{ first (split customer.name " ") }}!
                </a>
                <div class="navPage-subMenu is-open" id="navPages-account" aria-hidden="false" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/manage-subscriptions/">{{lang 'account.nav.manage_subscriptions'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        {{!-- @razoyo: remove messages from menu
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        --}}
                        {{#if settings.show_payment_methods}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        {{!-- @razoyo: Hiding the communication preferences tab for phase 1
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="/communication-preferences/">{{lang 'account.nav.preferences'}}</a>
                        </li>
                        --}}
                        {{!-- @razoyo: remove recently viewed from account nav
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        --}}
                        <li class="avPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        {{else}}
            <li class="navPages-item" style="padding-bottom: 50px">
                <span style="font-weight: 900;
    font-size: 16px;
    color: #00757d"><a class="" style="font-weight: 900;
    font-size: 16px; text-decoration: none;
    color: #00757d" href="{{urls.auth.login}}">sign in</a> / <a class="" style="font-weight: 900;
    font-size: 16px;
    color: #00757d; text-decoration: none" href="{{urls.auth.create_account}}">register</a></span>
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
    </ul>
</nav>
