<div
    class="party-card result-card"
    data-pid="{party-id}"
    data-phost="{party-host}"
    data-pdate="{party-date}"
    data-ptime="{party-time}"
    data-cid="{consultant-id}"
    data-cname="{consultant-name}"
    data-cimg="{consultant-image}"
    >
    <div class="party-header">
        <span class="ts-circle"></span>
        <div class="vertical-center">
            <span class="frame-caption selection-title">Select</span>
        </div>
    </div>
    <div class="selected-header">
         <span class="ts-circle"></span>
         </span>
         <div class="vertical-center">
             <span class="frame-caption selection-title">Selected</span>
         </div>
     </div>

    <div class="party-info">
        <div class="party-info-row">
            <p class="subhead-14 party-name">{party-title}</p>
            <p class="frame-caption">Date: {party-date}</p>
        </div>
        <div class="party-info-row consultant-name">
            <p class="frame-caption">Consultant: {consultant-name}</p>
        </div>
    </div>
</div>
