<form action="{{product.add_to_wishlist_url}}" class="form form-wishlist form-action" data-wishlist-add method="post" style="margin-right: 4px; margin-bottom: .25rem;">
    <a aria-controls="wishlist-dropdown"
       aria-expanded="false"
       class="lightburgundy-text wishlist button"
       data-dropdown="wishlist-dropdown"
       id="wishlist-dropdown-recipe"
       href="#"
    >
        <i class="fas fa-heart fa-lg"></i>
    </a>
    <ul aria-hidden="true" class="dropdown-menu recipe-wishlist" data-dropdown-content id="wishlist-dropdown"  tabindex="-1" >
        {{#if customer.wishlists}}
            {{#each customer.wishlists}}
                <li>
                    <input class="button lightburgundy-text {{#if this.num_items '!==' '0'}}button--has-items{{/if}}"
                           formaction="{{this.add_url}}&product_id={{../product.id}}"
                           type="submit"
                           value="{{this.name}}"
                    >
                </li>
            {{/each}}
        {{else}}
        <li>
            <input class="button lightburgundy-text" type="submit" value="{{lang 'account.wishlists.add_to_default'}}">
        </li>
        {{/if}}
        <li>
            <a data-wishlist class="button lightburgundy-text" href="/wishlist.php?action=addwishlist&product_id={{product.id}}">{{lang 'account.wishlists.create_new'}}</a>
        </li>
    </ul>
</form>
