{{#if settings.add_this.buttons}}
    <div class="sharethis_toolbox sharethis_32x32_style">
        <div class="socialLinks-title">
            <span class="socialLinks-titleText teal-text frameheading-3">Share</span>
        </div>
        <ul class="socialLinks social-links" id="app">
            {{#each settings.add_this.buttons}}
                <li class="socialLinks-item socialLinks-item--{{service}}">
                    <a class="st-custom-button icon-social-{{service}} sharethis_button_{{service}} icon icon--{{service}}" {{{annotation}}} data-network="{{service}}">
                        {{#if service '===' 'email'}}
                            <svg>
                                <use xlink:href="#icon-envelope"/>
                            </svg>
                        {{else if service '===' 'print'}}
                            <svg>
                                <use xlink:href="#icon-print"/>
                            </svg>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
            <li>
                <button class="button-secondary socialLinks-copy" type="button">Copy Link</button>
            </li>
        </ul>
    </div>
    <!-- Copy link to clipboard notification. Hidden by default -->
    <p class="link-copied-text subhead-14 teal-text" style="margin-bottom: 0; display: none">Copied to clipboard</p>

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=632a4235560f0d00125e7830&product=sop" async="async"></script>
    <!-- Temporary fix suggested by ShareThis -->
    <script>
        window.onload = (event) => {
            // Remove all events from the email button
            document.getElementsByClassName('socialLinks-item--email')[0].outerHTML =
                document.getElementsByClassName('socialLinks-item--email')[0].outerHTML;
            document.querySelector('a[data-network="email"]').addEventListener("click", (e) => {
                e.preventDefault();

                var subject = "I'd like to share a link with you";
                var body = window.location.href;
                window.location.href = "mailto:?subject=" + subject + "&body=" + body;
            })
        };
    </script>
{{/if}}
{{#if settings.facebook_like_button.enabled}}
    <iframe
        class="facebook{{#if settings.facebook_like_button.verb '===' 'recommend'}}Recommend{{else}}Like{{/if}}Btn"
        style="border:none; overflow:hidden; margin: 0; padding: 0; position:absolute"
        src="https://www.facebook.com/plugins/like.php?href={{settings.facebook_like_button.href}}&amp;layout=button_count{{#if settings.facebook_like_button.verb '===' 'recommend'}}&amp;action=recommend{{/if}}&amp;colorscheme=light&amp;height=20"
        scrolling="no"
        frameborder="0"
        allowTransparency="true">
    </iframe>
{{/if}}
