<div class="styletooltip-item">
  <div id="{{tooltip_content_id}}" class="dropdown-menu tooltip-content tooltip-right" data-dropdown-content="">
        <div>
            <span class="close-tooltip">x</span>
            {{#if tooltip_content_id '===' 'tsacf-findconsultant-tooltip' }}
                <p>{{ lang 'ts_affiliation.consultant.tooltip_info' }}</p>
            {{else if tooltip_content_id '===' 'tsacf-findparty-tooltip' }}
                <p>{{ lang 'ts_affiliation.party.tooltip_info' }}</p>
            {{else if tooltip_content_id '===' 'consultant-tooltip' }}
                <b style="margin: 0; font-size: 12px;">{{lang 'subscriptions.consultant_title'}}</b>
                <p style="margin: 0; font-size: 12px; width: 100%">{{lang 'subscriptions.consultant'}}</p>
            {{else}}
                <p>{{ tooltip_message }}</p>
            {{/if}}
        </div>
    </div>
</div>
