<script type="text/javascript">
    (function(w) {
        let cookieDomain = window.location.hostname;
        if (cookieDomain == 'www.tastefullysimple.com') cookieDomain = 'tastefullysimple.com';

        w.TSCookie = {
            // Consultant ID
            // Type: Str
            setConsultantId: function(cid) {
                // Remove trailing spaces
                const newCid = cid ? cid.trim() : cid;

                Cookies.set('cid', newCid, { domain: cookieDomain });

                // Add class to header in order to reposition the "Shop" menu
                document.getElementById('headerMain').classList.add('consultant-bar-open');
            },

            getConsultantId: function() {
                return Cookies.get('cid');
            },

            // Consultant XID
            setConsultantXid: function(cxid) {
                Cookies.set('cxid', cxid, { domain: cookieDomain });
            },

            getConsultantXid: function() {
                return Cookies.get('cxid');
            },

            // Consultant Image
            setConsultantImage: function(cimg) {
                Cookies.set('cimg', cimg, { domain: cookieDomain });
            },

            getConsultantImage: function() {
                return Cookies.get('cimg');
            },

            // Consultant Name
            setConsultantName: function(name) {
                Cookies.set('name', name, { domain: cookieDomain });
            },

            getConsultantName: function() {
                return Cookies.get('name');
            },

            // Consultant Phone
            setConsultantPhone: function(phone) {
                Cookies.set('phone', phone, { domain: cookieDomain });
            },

            getConsultantPhone: function() {
                return Cookies.get('phone');
            },

            // Consultant Email
            setConsultantEmail: function(email) {
                Cookies.set('email', email, { domain: cookieDomain });
            },

            getConsultantEmail: function() {
                return Cookies.get('email');
            },

            // Consultant Has Open Party?
            setConsultantHasOpenParty: function(copenparty) {
                Cookies.set('copenparty', copenparty, { domain: cookieDomain });
            },

            getConsultantHasOpenParty: function() {
                return Cookies.get('copenparty');
            },

            // Party Id
            // Type: Int
            setPartyId: function(pid) {
                Cookies.set('pid', pid, { domain: cookieDomain });
            },

            getPartyId: function() {
                return Cookies.get('pid');
            },

            // Party Host
            setPartyHost: function(phost) {
                Cookies.set('phost', phost, { domain: cookieDomain });
            },

            getPartyHost: function() {
                return Cookies.get('phost');
            },

            // Party Date
            setPartyDate: function(pdate) {
                Cookies.set('pdate', pdate, { domain: cookieDomain });
            },

            getPartyDate: function() {
                return Cookies.get('pdate');
            },

            // Party Time
            setPartyTime: function(ptime) {
                Cookies.set('ptime', ptime, { domain: cookieDomain });
            },

            getPartyTime: function() {
                return Cookies.get('ptime');
            },

            // Party Total
            setPartyTotal: function(ptotal) {
                Cookies.set('ptotal', ptotal, { domain: cookieDomain });
            },

            getPartyTotal: function() {
                return Cookies.get('ptotal');
            },

            // Delete Party cookies
            deleteParty: function() {
                Cookies.remove('pid', { domain: cookieDomain });
                Cookies.remove('phost', { domain: cookieDomain });
                Cookies.remove('pdate', { domain: cookieDomain });
                Cookies.remove('ptime', { domain: cookieDomain });
                Cookies.remove('ptotal', { domain: cookieDomain });
            },

            deleteConsultant: function() {
                Cookies.remove('cid', { domain: cookieDomain });
                Cookies.remove('name', { domain: cookieDomain });
                Cookies.remove('cimg', { domain: cookieDomain });
                Cookies.remove('afid', { domain: cookieDomain });
                Cookies.remove('copenparty', { domain: cookieDomain });

                // Remove class to reposition the Shop menu
                document.getElementById('headerMain').classList.remove('consultant-bar-open');
            },

            deleteOldTSCookies: function() {
                // Delete Old Party cookies
                Cookies.remove('pid');
                Cookies.remove('phost');
                Cookies.remove('pdate');
                Cookies.remove('ptime');
                Cookies.remove('ptotal');

                // Delete Old Consultant cookies
                Cookies.remove('cid');
                Cookies.remove('name');
                Cookies.remove('cimg');
                Cookies.remove('afid');

                // Others
                Cookies.remove('loginStateChecker');
            },

            setAffiliationExpiration: function(time) {
                Cookies.set('affiliationExpiration', time, { domain: cookieDomain });
            },

            getAffiliationExpiration: function() {
                return Cookies.get('affiliationExpiration');
            },

            deleteAffiliationExpiration: function() {
                Cookies.remove('affiliationExpiration');
            },

            setLoginStateChecker: function(loginState) {
                Cookies.set('loginStateChecker', loginState, { domain: cookieDomain });
            },

            getLoginStateChecker: function() {
                return Cookies.get('loginStateChecker');
            },

            setSelectedKitId: function(id) {
                Cookies.set('selectedKitId', id, { domain: cookieDomain });
            },

            getSelectedKitId: function() {
                return Cookies.get('selectedKitId');
            },

            // Debugging
            getTest: function() {
                return Cookies.get('_test');
            },

            setTest: function(value) {
                Cookies.set('_test', value);
            },

            getConsultantData() {
                return {
                    name: this.getConsultantName(),
                    id: this.getConsultantId(),
                    image: this.getConsultantImage(),
                    hasOpenParty: this.getConsultantHasOpenParty()
                };
            }
        };
    })(window);
</script>
