{{!-- TST-242 --}}
<script type="text/javascript">
    class TSCheckout {
        constructor(app) {
            this.observeApp(app);
        }

        observeApp(app) {
            this.observer = new MutationObserver(this.mutationCallback);

            if (app) {
                this.observer.observe(app, {
                    attributes: true,
                    subtree: true
                });
            } else {
                this.observer.disconnect();
            }
        }

        mutationCallback(mutations) {
            mutations.forEach(mutation => {
                const $phoneNumberWrapper = document.querySelector('.dynamic-form-field--phone');
                const allowedChars = '0123456789';
                const isCharAllowed = keyValue => allowedChars.indexOf(keyValue) > -1;
                const handleInputChange =
                    (e) => !isCharAllowed(e.key) && e.key.length === 1 ? e.preventDefault() : null;

                // TST-242
                // Only allow numbers and period characters
                // in the phone number and mobile phone input fields
                if ($phoneNumberWrapper) {
                    const $phoneNumberInput = $phoneNumberWrapper.querySelector('#phoneInput');
                    $phoneNumberInput.addEventListener('keydown', (e) => handleInputChange(e));

                    const $mobilePhoneWrapper = $phoneNumberWrapper.nextElementSibling;
                    const $mobilePhoneLabel = $mobilePhoneWrapper.querySelector('label').textContent;
                    // To make sure we're targeting the mobile phone field
                    if ($mobilePhoneLabel.includes('Mobile Phone')) {
                        const $mobilePhoneInput = $mobilePhoneWrapper.querySelector('.form-field input');
                        $mobilePhoneInput.addEventListener('keydown', (e) => handleInputChange(e));
                    }
                }
            });
        }
    }

    const checkoutApp = document.getElementById('checkout-app');
    const customCheckout = new TSCheckout(checkoutApp);
</script>

{{!--
    TST-470 Cookie Session Timeout checker
    - Redirect user to cart page when Cookie Session timer expires
--}}
<script type="text/javascript">
    {{ inject "themeSettings" theme_settings }}

    const context = JSON.parse({{jsContext}});
    const themeSettings = context.themeSettings;
    const TS_DEBUG_MODE = themeSettings.ts_debug_mode;

    // To get rid of %20 (space) in the expiration's value
    const expirationCookie = decodeURIComponent(getExpirationDateCookie());
    const expiration = new Date(expirationCookie);

    if (expiration.toString !== 'Invalid Date') {
        setTimeout(function() {
            window.location = '/cart.php';
        }, getCookieSessionExpiration(expiration));
    }

    function getCookieSessionExpiration(expiration) {
        if (TS_DEBUG_MODE) {
            console.warn('in Checkout::Affiliation cookies will expire on', expiration);
        }

        return expiration - Date.now();
    }

    function getExpirationDateCookie() {
        const name = 'affiliationExpiration';
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
