<div class="incentive-body">
    <div class="incentive-list">
        <!-- demo incentive-items
        <div class="incentive-item">
            <p class="incetinve-item-title">Hello World</p>
            <p class="incetinve-item-date">Available Until: 12/12/2012</p>
            <div class="incentive-item-add">
                <button data-product-id='115' class="button button--primary">Add to Cart</button>
            </div>
        </div>
        <div class="incentive-item">
            <p class="incetinve-item-title">Goodbye World</p>
            <p class="incetinve-item-date">Available Until: 12/13/2013</p>
            <div class="incentive-item-add">
                <button data-product-id='184' class="button button--primary">Add to Cart</button>
            </div>
        </div>
        -->
    </div>
</div>
