<div class="info">
	<div id="ingredients">
		<h2 class="info-title">Ingredients</h2>
		<ul id="ingredients-list">
			<script>
				recipe.Ingredients.forEach((i) => {
					if (i.Name) {
						var li = document.createElement("li");
						const ul = document.getElementById("ingredients-list")
						li.innerHTML = `${i.Display}`;
                        ul.append(li);
					}
				});
			</script>
		</ul>
	</div>
    <div id="directions">
        <h2 class="info-title">Directions</h2>
        <script>
            recipe.Procedure.ProcedureGroups.forEach((pg) => {
                if (pg.Steps) {
                    switch (pg.Format) {
                        case "Numbered":
                            var list = document.createElement("ol");
                            break;
                        case "Bulleted":
                            var list = document.createElement("ul");
                            break;
                        default:
                            var list = document.createElement("ul");
                            list.setAttribute("style", "list-style-type: none");
                    }
                    const directions = document.getElementById("directions");
                    list.setAttribute("class", "directions-list")
                    directions.append(list);

                    pg.Steps.forEach((s) => {
                        if (s.Note) {
                            var li = document.createElement("li");
                            li.setAttribute("class", "direction-item");
                            li.innerHTML = s.Note;
                            list.append(li);
                        }
                    });
                }
            });
        </script>
	</div>
	<div id="nutrition">
		<h2 class="info-title">Nutrition</h2>
		<p id="nutrition-list"><b>Per serving:</b>  <span id="nutrition-list-content"></span></p>
		<script>
			var nutrientsList = recipe.Nutrition && recipe.Nutrition.NutritionBasis ? `<i>${recipe.Nutrition.NutritionBasis} </i>` : '';
			recipe.Nutrients.forEach((nutrient, i) => {
				if (nutrient.Name) {
					nutrientsList += `${nutrient.Display}`;
					nutrientsList += recipe.Nutrients.length === (i+1) ? '.' : ', ';
				}
			});
			document.getElementById("nutrition-list-content").innerHTML = nutrientsList;
		</script>
		<br>
	</div>
</div>
