<div id="ts-affiliate-cart-form-wrapper">
    <form id="ts-affiliate-cart-form" class="ts-affiliate-cart-form burgundy-radio">
        <div class="party-option" tabindex="0">
            <label class="tick-enabled">
                <input type="radio" id="tsacf-findparty" name="tsacf-item" value="Yes, help me find my party or fundraiser"/>
                <span class="frame-caption">Yes, help me find my party or fundraiser</span>
                <span class="icon-system-info" data-dropdown="tsacf-findparty-tooltip"></span>
            </label>

            {{> components/common/tooltip-square tooltip_content_id="tsacf-findparty-tooltip" }}
        </div>
        <div class="consultant-option" tabindex="0">
            <label class="tick-enabled">
                <input type="radio" id="tsacf-findconsultant" name="tsacf-item" value="Yes, help me find my consultant"/>
                <span class="frame-caption">Yes, help me find my consultant</span>
                <span class="icon-system-info" data-dropdown="tsacf-findconsultant-tooltip"></span>
            </label>

            {{> components/common/tooltip-square tooltip_content_id="tsacf-findconsultant-tooltip" }}
        </div>
        <div class="no-affiliation-option" tabindex="0">
            <label class="tick-enabled">
                <input type="radio" id="tsacf-shopdirect" name="tsacf-item" value="No, shop directly with Tastefully Simple"/>
                <span class="frame-caption">No, shop directly with Tastefully Simple</span>
            </label>
        </div>
    </form>
</div>
