<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs">
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="/">
                <span>{{lang 'home.heading' }}</span>
            </a>
        </li>
        <li class="breadcrumb">
            <a class="breadcrumb-label" href="/account.php">
                <span>{{lang 'account.breadcrumb' }}</span>
            </a>
        </li>
        <li class="breadcrumb is-active">
            <a class="breadcrumb-label" href="#" aria-current="page">
                <span>{{title}}</span>
            </a>
        </li>
    </ol>
</nav>
