// =============================================================================
// Tastefully Simple Party Search Styles
// =============================================================================

#modal {
    .modal-content {
        #party-search {
            .genmodal-body {
                .buy-wide-card {
                    .card-form {
                        margin-top:.5rem;
                        .simple-dropdown {
                            margin: 0;
                        }
                        .simple-dropdown,
                        .input-label {
                            flex-basis:100%;
                        }
                        &:last-of-type {
                            justify-content:flex-end;
                            padding-bottom:.5rem;
                        }
                    }
                }
            }
        }
        #party-search-results {
            display: none;
            .genmodal-body {
                position:relative;
                .buy-wide-card {
                    background: none;
                    .party-card {
                        width:100%;
                        .party-info {
                            .party-name {
                                margin-top:0;
                            }
                        }
                    }
                }
            }
            .findmodal-footer {
                #party-goback {
                    display: none;
                }
            }
        }
        .genmodal-footer {
            text-align: right;
        }
    }
}

// Find a Party bar
.partybar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    p {
      margin: 0 auto;
    }
    &-container {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: 0.5px 0;
        .fa-caret-right,
        .fa-caret-down {
            transition: rotate 0.2s ease-in-out;
            width: .25rem;
            margin-left: 0.75rem;
        }
        &.active {
            .fa-caret-right {
                rotate: 90deg;
            }
        }
    }
    &-button {
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 0.4rem;
    }
    &-accordion {
      background-color: $grape;
      max-height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: max-height 0.2s ease-out;
      width: 100%;

      .partybar-accordion-items {
          padding: 0.4rem;
      }
    }
    &-text {
        margin-bottom: 0.6rem;
        cursor: default;
        text-align: center;
    }
}

@media only screen and (min-width:801px) {
    #modal {
        .modal-content {
            #party-search {
                .genmodal-body {
                    /* stacked
                    .buy-wide-card {
                        .card-form {
                            align-items:center;
                            justify-content:center;
                            .simple-dropdown,
                            .input-label {
                            align-items:center;
                            justify-content:center;
                            }
                        }
                    }
                    */
                    .buy-wide-card {
                        align-items:flex-end;
                        justify-content:space-between;
                        .card-form {
                            flex-basis:48%;
                            justify-content:center;
                            margin-top:.5rem;
                            &:last-child {
                                flex-basis:auto;
                                margin-left:auto;
                            }
                        }
                    }
                }
            }
            #party-search-results {
                .genmodal-body {
                    .buy-wide-card {
                        .party-card {
                            &::after {
                                width:85%;
                            }
                        }
                    }
                }
            }
        }
    }
    .partybar {
        display: flex;
        flex-direction: column;
        &-container {
            display: flex;
            margin: 0 auto;
            text-align: center;
        }
        &-text {
            font-weight: unset;
        }
    }
    .partybar.no-party-selected {
        flex-direction: row;
        padding: 1rem;

        p {
            margin: 0;
            strong {
                font-weight: 900;
            }
        }
        button.framelink-md {
            font-weight: 700;
        }
    }
}
#view-single-party {
    padding-left: 0;
}
