// =============================================================================
// Tastefully Simple Search Modal Styles
// =============================================================================

@mixin result-card-header {
    align-items:center;
    color: white;
    display: flex;
    flex-basis: 100%;
    .ts-circle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0 0 0 1px $shady-lady;
        margin-right: 5px;
    }
    .selection-title {
        color: $text-gray;
    }
}

#modal {
    border-radius: 5px;
    max-height:none;
    min-height:0;
    .modal-close {
        display: none;
    }
    // fix issue with modal flickering in firefox
    .button {
        filter:grayscale(1%);
    }
    .modal-content {
        .vertical-bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .vertical-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .genmodal-header {
            border-radius: unset;
            height: 45px;
            h2 {
                margin-left: 5px;
            }
            .modal-close {
                display: block;
                .close-modal-alternate {
                    background-color: transparent;
                    right: -8px;
                    top: -18px;
                }
            }
        }
        .genmodal-body {
            padding: 15px 10px 0 10px;
            overflow-y: auto;
            max-height: 330px;
            .alertbox-error {
                background-color: $utility-error;
                display: none;
                width: 100%;
                margin-bottom: 15px;
                margin-top: 0;
            }
            .buy-wide-card {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                margin-bottom: 13px;
                .result-card {
                    background-color: $color-white;
                    margin:.35rem auto;
                }
                &.id-search {
                    margin-bottom: 15px;
                }
                .form-title {
                    margin: 15px 0;
                }
                .frame-text {
                    flex-basis: 100%;
                }
                .card-form {
                    display: flex;
                    flex-basis: 100%;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    & > * {
                        margin-right: 15px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: 400;
                    }   
                    .input-label {
                        max-width: unset;
                        flex-basis: 48%;
                        input {
                            width: 100%;
                            height: 35px;
                            border-radius: 3px;
                        }
                    }
                    .simple-dropdown {
                        flex-basis: 48%;
                        label {
                            min-width: 80px;
                        }
                        select {
                            width: 100%;
                            height: 35px;
                            background-color: $wan-white;
                            border-radius: 3px;
                        }
                    }
                    .last-selector {
                        margin-right: 0;
                    }
                    .vertical-bottom {
                        margin: 1rem 0 0 auto;
                    }
                    .button-alternate {
                        margin: 0;
                    }
                }
                &.name-search {
                    .card-form {
                        .input-label {
                            min-width: 104px;
                        }
                    }
                }
            }
        }
        .modal-results {
            height:100%;
            .findmodal-header {
                @extend .gainsboro-background;
                line-height:1;
                padding:1rem 1rem 0;
                .return-count {
                    padding-left:.5ch;
                }
            }
            .genmodal-body {
                .search-filter-wrapper {
                    background-color: $gainsboro;
                    box-shadow: none;
                    border: none;
                    padding: 5px 10px;
                    margin: 0;
                    .return-search {
                        cursor: pointer;
                        display:flex;
                        width: fit-content;
                        i {
                            color: $green-hover;
                        }
                        .return-search-text {
                            font-weight: 900;
                        }
                    }
                }
                .buy-wide-card {
                    overflow-y: auto;
                    .result-card {
                        cursor:pointer;
                        padding: 10px;
                        &:not(.selected) {
                            .selected-header {
                                display: none;
                            }
                        }
                        &.selected {
                            border:2px solid $teal;
                        }
                        .consultant-header,
                        .party-header,
                        .selected-header{
                            @include result-card-header;
                            margin-bottom: 5px;
                        }
                        .selected-header {
                            .ts-circle {
                                background-color: teal;
                            }
                        }
                    }
                }
            }
            .findmodal-footer {
                background-color: $gainsboro;
                bottom:0;
                padding: 10px;
                text-align:center;
                width:100%;
                .return-search {
                    cursor: pointer;
                    display: flex;
                    margin-bottom: 10px;
                    padding-left: 10px;
                    .icon-system-left-caret {
                        height: 12px;
                        margin-right: 5px;
                        width: 12px;
                    }
                }
                .findmodal-pagination-container {
                    align-items: center;
                    display: flex;
                    justify-content: flex-end;
                    padding: 0px 20px;

                    .custom-pagination-item .custom-pagination-link {
                        color: $burgundy;
                        font-size: 18px;
                    }
                    .custom-pagination-item {
                        text-decoration: underline;
                    }
                    .custom-pagination-item.custom-pagination-item--current {
                        text-decoration: none;

                        .custom-pagination-link {
                            color: $text-gray;
                        }
                    }
                    .custom-pagination-item .custom-pagination-link.isDisabled {
                        color: $wan-white;
                        opacity: 1;
                    }
                }
                .next-step-wrapper {
                    padding:5px 20px;
                    text-align:right;
                    .next-step-selected-text {
                        margin-bottom:.5rem;
                        span {
                            color: $green-apple;
                        }
                    }
                }
            }
        }
        .genmodal-footer {
            background-color: $gainsboro;
            padding: 0 10px;
        }
    }
}

// Remove consultant/party affiliation modal
.remove-affiliation-alertbox-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1005;

    .alertbox-success {
        width: 80%;
    }

    .remove-affiliation-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .remove-affiliation-cancel {
            margin: 5px 0;
        }
    }
}

@media only screen and (min-width:341px) and (max-width:440px) {
    #modal {
        .modal-content {
            .genmodal-body {
                max-height:400px;
            }
        }
    }
}

@media only screen and (min-width:361px) {
    #modal {
        .modal-content {
            .genmodal-body {
                max-height:430px;
            }
        }
    }
}

@media only screen and (min-width: 801px) {
    .remove-affiliation-alertbox-container {
        .alertbox-success {
            width: 40%;
        }

        .remove-affiliation-buttons {
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 5px;

            .remove-affiliation-cancel {
                margin: 0;
            }
        }
    }
}

@media only screen and (min-height:660px) {
    #modal {
        &.modal-results {
            height:auto;
        }
        .modal-content {
            height:auto;
            .modal-results {
                height:auto;
                .genmoda-body {
                    max-height:430px;
                }
                .findmodal-footer {
                    position:relative;
                }
            }
        }
    }
}
