// =============================================================================
// Tastefully Simple Footer Styles
// =============================================================================

.footer {
    padding: 0;
    // Set all colors to white as the footer uses a generic config value that we cannot re-define
    .footer-info-col,
    .footer-bottom{
        color: $white;
        a,
        a:hover{
            color:$white;
        }
        button {
            padding:0;
        }
        .footer-copyright{
            &>.powered-by{
                color: $white;
            }
        }
    }
    // end color override
    .footer-loveit{
        img{
            width:100%;
        }
    }
    &>.footer-info {
        max-width:100%;
        margin:0;
        padding-top:30px;
        .container {
            .footer-info-content{
                display:flex;
                flex-direction:column;
            }
            .footer-info-heading {
                @extend .framelink-lg;
                &:not(.tst-accordion-title) {
                    margin-top:1rem;
                    text-align:left;
                }
                &::after {
                    color:$green-apple;
                }
            }
            .footer-info-list{
                li{
                    padding:.2rem 0;
                }
            }
            .footer-newsletter {
                margin:auto;
                max-width:500px;
                .form {
                    margin-bottom:0;
                    .form-label {
                        color: $white; 
                    }
                    .form-field {
                        margin-bottom:0;
                        .newsletter-inputs {
                            align-items:center;
                            display:flex;
                            .form-input {
                                flex: 2 2 200px;
                            }
                            button {
                                flex:1 1 100px;
                                margin-left: 3px;
                                margin-top:0;
                            }
                        }
                    }
                    .alertbox-container{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.8);
                        z-index: 100;

                        div[class^='alertbox-']{
                            top: 40%;

                            h2.alert-title{
                                text-align: left;
                            }

                            a.retry-btn,
                            a.ok-btn{
                                display: block;
                                text-align: right;
                            }

                            a.retry-btn{
                                color: $utility-red;
                            }

                            a.ok-btn{
                                color: $utility-green;
                            }
                        }
                    }
                }
            }
            .footer-social {
                margin:1.4rem 0;
                padding-left:0;
                .socialLinks {
                    .socialLinks-item {
                        border:2px solid $white;
                        border-radius:50%;
                        padding:8px;
                        .icon{
                            svg{
                                fill:$white;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        background-color:$text-gray;
        .container {
            align-items:center;
            display:flex;
            flex-flow:column-reverse;
            justify-content:space-between;
            &>div {
                align-items:center;
                display:flex;
                &.copyright-logos {
                    flex:2 2 50%;
                    justify-content:space-between;
                    .footer-copyright {
                        text-align:left;
                    }
                    .footer-logos {
                        display:flex;
                        a {
                            display:block;
                            padding:0 .5rem;
                        }
                    }
                }
                &.footer-use-links {
                    flex:1 1 30%;
                    justify-content:flex-end;
                    a {
                        text-decoration:none;
                    }
                    p {
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:551px) and (max-width:800px) {
    .footer-info-col {
        display:block;
        text-align:center;
        width:auto;
    }
}
@media only screen and (min-width:800px) {
    .footer{
        .footer-bottom {
            background-color:$text-gray;
            .container {
                flex-flow:row;
            }
        }
        &>.footer-info {
            max-width:100%;
            margin:0;
            padding-top:30px;
            .container {
                .footer-info-content{
                    flex-direction:row;
                    justify-content:space-around;
                }
                .footer-info-heading {
                    &:not(.tst-accordion-item){
                        margin-top:initial;
                    }
                }
                .footer-newsletter{
                    margin:0;
                }
            }
        }
    }
}
@media only screen and (min-width:800px) and (max-width:900px) {
    .footer {
        &>.footer-info {
            .container {
                .footer-social {
                    .socialLinks {
                        .socialLinks-item {
                            padding:6px;
                            &:not(:last-child) {
                                margin-right:0.4rem;
                            }
                            .icon{
                                height:1.2rem;
                                width:1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
