// =============================================================================
// Tastefully Simple Product Styles
// =============================================================================

// Product Page
.productView {
  // Product Details Section - productView-product
  .productView-description.mobile-only{
    padding-top: 1.5rem;
  }
  .productView-details {
    margin-bottom: 0px;

    .productView-product {
      // Title
      .productView-title {
        font-size: 30px;
        margin-bottom: 0px;
        color: $text-gray;
      }

      // Product Rating
      .productView-rating {
        .productView-reviewLink + .productView-reviewLink {
          display: inline-block;

          a {
            color: $burgundy;
          }
        }
      }

      // Product Short Description
      .productView-shortDescription {
        margin: 1rem 0px;
      }

      // Price
      .productView-price {
        .price--withoutTax {
          font-size: 22px;
          font-family: stencilFontFamily("headings-font");
        }
      }
    }
  }

  .productView-options {
    .alertBox--error {
      background: none;
      display: flex;

      .alertBox-icon {
        vertical-align: baseline;
      }

      .icon {
        svg {
          fill: $burgundy;
        }
      }

      .alertBox-message {
        margin-left: 10px;
        flex-direction: column;
        display: flex;

        .out-of-stock-title {
          color: $burgundy;
        }
      }
    }
  }


  // Product Details Section - productView-options
  .productView-details {
    .productView-options {
      margin-bottom: 0;

      // Qty Picker
      .form-field--increments {
        text-align: left;
        text-transform: uppercase;

        label {
          max-width: 80px;
          text-align: center;
        }

        .form-increment {
          .form-input--incrementTotal {
            font-weight: 600;
            padding: 2px 1px;
          }
        }
      }

      // Wishlist
      .form-wishlist {
        .dropdown-menu-button {
          margin-right: 11px;
          border-color: $light-burgundy;

          &:hover {
            border-color: $burgundy;

            .icon {
              svg {
                fill: $burgundy;
              }
            }
          }

          .icon {
            svg {
              fill: $light-burgundy;
            }
          }
        }

        #wishlist-dropdown {
          padding-right: 11px;

          li {
            .button:hover {
              border-color: $burgundy;
            }

            input {
              border-color: $light-burgundy;
            }

            a {
              border-color: $light-burgundy;
            }
          }
        }
      }
    }
  }

  // Product Description
  .productView-description {
    .productView-title {
      display: none;
    }

    .tabs {
      display: none;

      .tab {
        border-color: $shady-lady;

        .tab-title {
          color: $burgundy;
        }
      }
    }

    #tab-description {
      h5 {
        @extend .frameheading-5;
        border-style: solid;
        border-color: $shady-lady;
        border-width: 1px 0px;
        padding: 18px 0px;
        text-align: center;
      }
    }
  }
}

.productReview {
  width: 100%;
}

// PDP Footer Carousels - Tabs
.productView ~ .tabs {
  border: none;

  .tab {
    border: none;
    float: none;
    text-align: center;

    &.is-active {
      .tab-title {
        text-align: center;
        color: $burgundy;
        @extend .frametext-semibold;
      }

      .tab-title-heading {
        margin: 0;
      }
    }

    .tab-title {
      padding: 0px;
    }
  }
}

// PDP Footer Carousels - Tab Content
.productView ~ .tabs-contents {
  .tab-content {
    .productCarousel {
      .slick-list {
        margin-bottom: 5px;

        .slick-track {
          display: flex;

          .productCarousel-slide {
            display: flex;
            height: auto;
            //Product Card
            .buy-card-product {
              @extend .buy-card;
              width: 100%;
              padding: 0px 10px 10px 10px;
              border-radius: 0px;
              box-shadow: #bbbbbb 0 1px 5px;
              margin: 3px 0px;

              .card-figure {
                .card-img-container {
                  &:after {
                    padding-bottom: 89% !important;
                  }
                }

                .card-figcaption {
                  opacity: 1;
                  display: block;

                  .card-figcaption-body {
                    .card-figcaption-button {
                      &.quickview {
                        display: none;
                      }
                    }
                  }
                }
              }

              .add-to-cart {
                @extend .button-primary;
                position: relative;
                top: -30px;
                margin-left: calc(50% - 60.5px);
                margin-bottom: 0px;
                width: 121px
              }

              .card-body {
                position: relative;
                padding-top: 1rem;

                .price {
                  font-family: stencilFontFamily("headings-font");
                }
              }
            }
          }
        }
      }

      .slick-next {
        border: none;
        background: none;
        right: -6px;

        &:before {
          @extend .icon-system-right-caret;
          width: 34px;
          height: 32px;
          position: relative;
          left: -4px;
        }
      }

      .slick-prev {
        left: -10px;
        border: none;
        background: none;

        &:before {
          @extend .icon-system-left-caret;
          width: 34px;
          height: 32px;
          position: relative;
          left: -6px;
        }
      }

      //Slider Dots
      .slick-dots {
        li {
          &.slick-active {
            button {
              &:before {
                background: $burgundy;
              }

              background-color: $burgundy;
            }
          }

          button {
            &:not(.slick-active) {
              background-color: $silver;
              border: none;
            }

            &:hover {
              background-color: $burgundy;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 801px) {
  .productView {
    flex-direction: row; // TST-335
    .productView-details {
      .productView-product {
        border: none;
        padding-bottom: 0;
        // Title
        .productView-title {
          font-weight: 700;
        }

        // Price
        .productView-price {
          .price--withoutTax {
            font-size: 28px;
          }
        }
      }
    }

    .productView-description {
      #tab-description {
        h5 {
          border-color: $light-burgundy;
          text-align: left;
        }
      }
    }

    .productView-options {
      // Cart and Wishlist button wrapper
      .form-action {
        display: inline-block;
        float: left;
        min-width: 250px;
        margin-right: 0.75rem;
      }

      // Cart and Wishlist button
      #form-action-addToCart,
      .form-wishlist .dropdown-menu-button {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1261px) {
  .productView {
    .productView-description {
      width: 100%;
    }
  }
}

.bold-subscriptions-widget {
  .bsub-widget {
    border: none !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .bsub-details__toggle-btn {
    display: none !important;
  }
  .stx-radio-field, .stx-field {
    text-align: left;
  }
  .stx-field--with-select {
    max-width: 500px !important;
  }
}

.productView {
  .productView-details {
    padding-bottom: 0 !important;
  }
}
