// =============================================================================
// Tastefully Simple Product Grid Styles
// =============================================================================

.add-to-cart-buttons {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .form-input {
        display: none;
    }
    .card-pricing {
        display: block;
        width: 100%;
    }
    .button {

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .row3 {
        visibility: hidden;
    }
    .ts-to-you-link {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        font-family: "Muli", serif;
        border-radius: 4px;
        color: #4d4d4d;
        visibility: hidden;

        img {
            margin-right: 5px;
            width: 25%;
            max-width: 50px;
        }
    }
    .form-action {
        display: flex;
        .grid-add-to-cart-form, .add-to-cart-flex-container {
            display: flex;
            flex-flow: column;
            min-height: 115px;
            place-content: space-between;
            .row1 {
                order: 3;
            }
            .row2 {
                order: 1;
            }
            .row3 {
                order: 2;
                div {
                    border: 1px solid #000;
                    padding: 0.25rem;
                    border-radius: 4px;
                    margin-bottom: 1rem;
                }
            }
        }
    }

}

.recipes-page-content {
    .card-title{
        height: fit-content;
    }
    .add-to-cart-wrapper {
        &.add-to-cart-category {
            display: none;
        }
    }
}

.autoship-enabled-product {
    .ts-to-you-link {
        visibility: visible;
    }
    .row3 {
        visibility: visible;
    }

}

@media only screen and (max-width: 800px) {
    .category-page-content {

        .flex-list {

            .product {

                .add-to-cart-btn {
                    top: unset;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .recipes-page-content {
        .flex-list {
            .product {
                margin-left: 3% !important;
                margin-right: 3% !important;
            }
        }
    }
}