#shipping-modal {
  text-align: left;max-height: none !important;
  .modal-overlay {
    position: absolute;
    top: -170px;

    &-content-wrapper {
      position: relative;
      width: 80%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 4rem;
      background-color: white;
      border-radius: 5px;
      min-height: 50%;
      max-height: 70%;
      overflow-y: scroll;
      display: block;
      top: 0;
      margin-top: 40% !important;

      @include breakpoint($BREAKPOINT_MEDIUM) {
        margin-top: 12% !important;
        margin-bottom: 0 !important;
      }
    }
  }

  .modal-overlay-content-wrapper {
    width: 100%;
    padding-top: 4rem;
    padding-left: 0;
    padding-right: 0;
    min-height: 50%;
    overflow-y: scroll;
    max-height: 70%;
    display: block;

    @include breakpoint($BREAKPOINT_MEDIUM) {
      width: 80%;
      padding: 4rem;
    }

    @include breakpoint($BREAKPOINT_SMALL) {
      padding-top: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .dataTable th {
    padding: 7px 13px;
    font-size: 12px;
    @include breakpoint($BREAKPOINT_SMALL) {
      font-size: 16px;
    }
  }

  th {
    font-weight: bold;
  }

  tbody tr:nth-child(odd) {
    background-color: $COLOR_GRAY_25;
  }

  .dataTable td {
    padding: 5px 5px;
    font-size: 12px;
    @include breakpoint($BREAKPOINT_SMALL) {
        font-size: 16px;
      padding: 10px 13px;
    }
  }

  .dataTable .mix-dataTable_right {
    text-align: right;
  }

  .dataTable td+td, .dataTable th+th {
    border-left: 2px solid #fff;
  }

  .dataTable_fancy-hdg {
    background: $COLOR_SECONDARY_200;
    color: $COLOR_WHITE;
  }

  .dataTable .mix-dataTable_textNote {
    display: inline-block;
    border-top: 2px dotted #e4dcd1;
    margin-top: 5px;
    padding-top: 5px;
  }
  ul {
    list-style: disc;
    li {
      font-size: 12px;
      @include breakpoint($BREAKPOINT_MEDIUM) {
      font-size: 16px;
      }
    }
  }

  p {
    font-size: 12px;
    @include breakpoint($BREAKPOINT_MEDIUM) {
      font-size: 16px;
    }
  }

  .userContent, #content p {
    padding: 1rem;
  }
}
