<span role="img"
    {{#if rating_target}}
      aria-label="{{lang 'products.reviews.rating_aria_label' rating_target=rating_target current_rating=rating max_rating=5}}"
    {{else}}
      aria-label="{{lang 'products.reviews.rating_aria_label' rating_target='Product' current_rating=rating max_rating=5}}"
    {{/if}}
>
    {{#for 1 5}}
        {{#if ../this.rating '>=' $index}}
            <span class="icon icon--ratingFull">
                <img class="icon img icon--ratingFull" src="{{cdn 'icons/full-star.svg'}}">
            </span>
        {{else}}
            <span class="icon icon--ratingEmpty">
                <img class="icon img icon--ratingEmpty" src="{{cdn 'icons/empty-star.svg'}}">
            </span>
        {{/if}}
    {{/for}}
</span>
